
.property-owner{
   margin: 3rem 6rem;
   display: flex;
   background-color: rgba(244, 81, 30, 0.07);
   height: 400px;
}
.owner-message p{
    margin: 3rem;
    font-size: 18px;
    /* width: 90%; */
}
.owner-profile{
    height: 400px;
    margin-top: 20px;
    align-items: center;
    margin-left: 3rem;
}
.owner-profile img  {
    width: 50px;
    height: 50px;
     margin-right: 15px;
}
.owner-details{
    align-items: center;
}
.owner-details header{
    color: #F4511E;
}
#owner{
    font-size: 13px;
    margin: 0;
}
@media only screen and (max-width: 1024px){
    .property-owner{
        margin: 1.5rem 3rem;
        flex-direction: column;
        height: 100%;
        width: 100%;
     }
     .owner-video iframe{
        width: 100%;
        height: 60vh;
     }
     .owner-profile{
        height: auto;
        margin-top: 20px;
        width: 100%;
        margin-left: 0;
    }
    .owner-profile img  {
        width: 40px;
        height: 40px;
         margin-right: 15px;
         margin-left: 3rem;
    }
    .owner-details {
        margin-left: 3rem;
        margin-bottom: 20px;
    }
}

