
.footer-wrap{
   padding: 3rem 6rem;
   display: flex;
   flex-direction: column;
   background-color:#FFFFFF;
   border-top: 1px solid #F4511E;
   padding: 0 3rem;
   font-weight: 400;
   color: #0A142F;
}

.social-handle , .social,  .location , .phone-number, .fax{
    display: flex;
}
.footer-top{
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
}
.contact-details{
    display: flex;
    justify-content: space-between;
}
 .footer-logo{
  filter: opacity(.2) drop-shadow(0 0 0 black);
 }
.footer-icon{
    color: #F4511E;
    margin-right: 10px;
}
.footer-bottom{
    display: flex;
    justify-content: space-between; 
    margin: 2rem 0;
   
}
.footer-bottom ul{
    display: flex;
    
}
.footer-bottom li{
    list-style: none;
    padding-right: 20px;
}
.footer-bottom li:hover{
    color: #F4511E;
}
.contact-div{
    display: flex;
    flex-direction: column;
   
}
.social-handle p , .phone-number{
    margin-right: 10px;
}
 .social img{
    margin-right: 10px;
 }
 .location , .phone-number, .fax{
    margin-bottom: 1.5rem;
 }

 @media only screen and (max-width: 1024px){
    .footer-wrap{
        padding: 1.5rem 3rem;
        align-items: center;
        justify-content: center;
        /* display: flex; */
        /* flex-direction: row; */
       
     }
     .footer-top{
        flex-direction: column;
        justify-content: space-between;
        margin-top: 3rem;
        align-items: center;
        justify-content: center;
    }
     .footer-logo{
     width: 100px;
     height: 100px;
     
       }
       .social-handle ,   .location , .phone-number, .fax {
       flex-direction: column;
    }
    .footer-bottom ul{
        flex-direction: column;
    }
    .social{
        width:30px;
        height:30px
       
    }
    .footer-bottom , .contact-details{
      flex-direction: column;
        margin-top: 0;
    }
    .footer-bottom{
        padding: 0;
    }
    .footer-bottom li{
      margin-top: 20px;
    }
    .footer-bottom p{
        font-size: 14px;
        /* text-align: center; */
        margin-top: 20px;
    }

 }